<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body
  style="background-image: linear-gradient(to bottom,rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('assets/images/crocus-4077848_960_720.jpg'); background-size: cover;">
  <div class="try">
    <h1 class="title text-center text-primary">
      Awesome Quotes
    </h1> <br>
    <app-quotes></app-quotes>
  </div>

</body>

</html>
