<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body style="background-image: url(../assets/images/ethan-dow-dWaBkAWCxsA-unsplash.jpg); background-size: cover;" >
  <div class="try">
    <h1 class="title text-center">
      Awesome Quotes Abound Here!
    </h1> <br> <br>
    <app-quotes></app-quotes>
  </div>
  
</body>
</html>