<div class="container-fluid">
  <form #form='ngForm' (ngSubmit)="addQuote()">
    <div class="form-group">
      <label for="">Quote</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group" aria-required="true">
      <label>Author</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group" aria-required="true"> 
      <label for="">Posted by</label>
      <input type="text" class="form-control">
    </div>
    <div>
      <button class="btn btn-primary" type="submit">
        Add Quote
      </button>
    </div>
  </form>
</div>

