<div class="container-fluid">
  <form> 
        <!-- defines the template variable for this form -->
        <div class="form-group">
          <label for="">Quote</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Author</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Posted by</label>
          <input type="text" class="form-control">
        </div>
        <div class="btn btn-primary" type="submit"> Add Quote </div>
      </form>
</div>
